body {
  font-family: "Airbnb Cereal App", sans-serif !important;
  line-height: 24px;
}
p {
  padding: 0;
  margin: 0;
}
.text-title {
  font-weight: 500 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  word-spacing: normal !important;
  letter-spacing: normal !important;
  /* identical to box height, or 150% */

  /* Mid neutral/Color 01 */

  color: #525252 !important;
}
.text-title-accordion {
  font-weight: 500 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  word-spacing: normal !important;
  letter-spacing: normal !important;
  /* identical to box height, or 150% */

  /* Mid neutral/Color 01 */

  color: #525252 !important;
  text-transform: none !important;
}
.text-title-top {
  font-size: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}
.custom-select {
  background: none !important;
}
select + i.fa {
  float: right;
  margin-top: -28px;
  margin-right: 5px;
  color: rgb(184, 180, 180);
  /* this is so when you click on the chevron, your click actually goes on the dropdown menu */
  pointer-events: none;
  /* everything after this is just to cover up the original arrow */
  /* (for browsers that don't support the syntax used above) */
  background-color: #fff;
  padding-right: 5px;
}
.box-promo {
  margin: 0 10px;
  min-width: 250px;
  max-width: 250px;
}
input::placeholder,
textarea::placeholder {
  color: rgb(209, 209, 209) !important;
}

select {
  color: rgb(209, 209, 209) !important;
}

.red-color {
  color: #393939 !important;
}

select:checked {
  color: blue !important;
}
.btn-darkblue {
  background-color: #013370 !important;
  color: white;
}
.btn-darkblue:hover {
  color: white;
}

.btn {
  font-family: "Airbnb Cereal App", sans-serif !important;
  font-weight: 500;
  line-height: 24px;
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
  text-transform: none !important;
}
section {
  padding: 24px;
  box-shadow: 0px 0px 1px rgba(22, 22, 22, 0.08),
    0px 0.5px 2px rgba(38, 38, 38, 0.16);
  border-radius: 8px;
}
input {
  border-radius: 7px !important;
  -webkit-border-radius: 7px !important;
  -moz-border-radius: 7px !important;
  -ms-border-radius: 7px !important;
  -o-border-radius: 7px !important;
}
ul.stepper li.active a .circle,
ul.stepper li.completed a .circle {
  background-color: black !important;
}
.stepper-horizontal li:hover {
  background-color: rgba(0, 0, 0, 0);
}

.panel-heading {
  padding: 0;
  border: 0;
}
.panel-title > a,
.panel-title > a:active {
  display: block;
  padding-bottom: 10px;
  padding-top: 35px;
  color: #555;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
  text-decoration: none;
}
.panel-heading a:before {
  font-family: "Font Awesome\ 5 Free";
  content: "\f078";
  float: right;
  transition: all 0.5s;
}
.panel-heading.active a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}
.b-bottom {
  border-bottom: 2px solid lightgray;
}

.text-promo {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.text-radio {
  position: relative;
  top: 2px;
}

.radio {
  position: relative !important;
  margin-left: 40px;
  margin-top: -7px;
}
input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
}

.checkmark {
  position: absolute !important;
  top: 3px !important;
  left: 0 !important;
  height: 20px !important;
  margin-left: -40px !important;
  width: 20px !important;
  border: 2px solid #013370 !important;
  border-radius: 50% !important;
}

.radio:hover input ~ .checkmark {
  background-color: #ccc !important;
}

.radio input:checked ~ .checkmark {
  border: 2px solid $main !important;
}

.checkmark:after {
  content: "" !important;
  position: absolute !important;
  display: none !important;
}

.radio input:checked ~ .checkmark:after {
  display: block !important;
}

.radio .checkmark:after {
  top: 2px !important;
  left: 2px !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  background: #013370 !important;
}

.radio label {
  color: #252525 !important;
}

.wrappers {
  width: 100%;
  display: flex !important;
}
ul.stepper li.done a .circle {
  background-color: #34a806 !important;
}
ul.stepper li.done a .circle label {
  color: #34a806 !important;
}

.heading {
  margin-bottom: 2em !important;
}
@media only screen and (max-width: 600px) {
  input::placeholder,
  textarea::placeholder {
    font-size: 13px !important;
  }
  select:nth-child(2) {
    font-size: 13px;
  }
  label {
    font-size: 14px;
  }
  select + i.fa {
    margin-top: -24px;
  }
}
